Options -Indexes
DirectoryIndex index.html
<Files ~ ".(htaccess|json)$">
deny from all
</Files>
RewriteEngine On
RewriteCond %{REQUEST_METHOD} ^(POST|PUT|DELETE)$
RewriteRule (token)$ $1.php [L]
RewriteCond %{REQUEST_METHOD} ^(POST|PUT|DELETE)$
RewriteRule (data)/([^/]+)$ $1.php/$2 [L]
