Options -Indexes
DirectoryIndex index.html
<Files ~ ".(htaccess|json)$">
deny from all
</Files>
RewriteEngine On
RewriteCond %{REQUEST_METHOD} ^(POST|PUT|DELETE)$
RewriteRule ^(token|data) $1.php [L]